.block {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 50px auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.box {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    animation-name: animationBox;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
    position: absolute;
}

@keyframes animationBox {
    from {
        background-color: black;
        top: 0;
        right: 450px;
    }

    to {
        top: 0;
        right: 0;
    }
}

.box1 {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    animation-name: animationBox1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
    position: absolute;
}

@keyframes animationBox1 {
    0% {
        top: 100px;
        background-color: tomato;
        right: 90px;
    }

    25% {
        background-color: red;
        top: 100px;
        right: 180px;
    }

    50% {
        top: 100px;
        right: 270px;
        transform: rotate(360deg);
    }

    75% {
        border-radius: 50%;
        transform: rotate(360deg);
        top: 100px;
        right: 360px;
    }

    100% {
        top: 100px;
        right: 450px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}